[submodule "pysmac"]
	path = pysmac
	url = https://github.com/sfalkner/pysmac
[submodule "fanova"]
	path = fanova
	url = https://github.com/automl/fanova.git
[submodule "cpuinfo"]
	path = cpuinfo
	url = https://github.com/workhorsy/py-cpuinfo
[submodule "pynisher"]
	path = pynisher
	url = https://github.com/sfalkner/pynisher/
